* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: gainsboro;
  border: 1px solid black;
}
header h1 {
  color: black;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

body {
  font-size: large !important;
  font-style: italic !important;
  font-family: "Playwrite DE Grund", cursive !important;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  background-color: wheat !important;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10em;
}
body main {
  background-color: wheat;
}
body a {
  text-decoration: none !important;
}
body nav select {
  font-size: medium;
  font-style: italic;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  width: 400PX;
  height: 40PX;
}
body nav div {
  margin-top: 30px;
}
body footer {
  background-color: rgb(248, 219, 166);
  margin-top: 5%;
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body footer div img {
  height: 5vh;
  width: 5vh;
}
body button {
  margin-top: 10px;
  font-size: large;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: gainsboro;
}

.search-bar {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-right: 2%;
}
.search-bar img {
  width: 30PX;
  height: 30px;
}
.search-bar a {
  margin-left: 1%;
}

.search-bar--area {
  border: 1px solid black !important;
  background-color: gainsboro !important;
}

@media (max-width: 370px) {
  .search-bar img {
    width: 20PX;
    height: 20px;
  }
  .search-bar--area {
    padding: 1px 0px;
  }
}
#dropdown {
  width: 50vw;
}

#dropdown__smaller {
  width: 25vw;
}

#simple-border {
  border: 1px solid black;
  margin-bottom: 2vh;
}

#Remember-my-Selection {
  margin-top: 1px;
  width: 20px;
  height: 20px;
}

.subtitle {
  padding-top: 1%;
  padding-left: 2%;
  background-color: gainsboro;
  text-align: center;
}

.add-basket-product {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}
.add-basket-product h3 {
  font-size: large;
  font-style: italic;
}
.add-basket-product h5 {
  font-size: medium;
  font-style: italic;
}
.add-basket-product img {
  width: 25vw;
}

@media (max-width: 650px) {
  .add-basket-product img {
    width: 50vw;
  }
}
@media (max-width: 1200px) {
  .add-basket-product img {
    width: 40vw;
  }
}
.shopping-page {
  padding-top: 1%;
}

.container-article {
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 0 5%;
  margin-top: 1%;
}

.box {
  margin-bottom: 5%;
  padding: 10px;
  border: 3px solid black;
}
.box button {
  width: 40%;
  padding-right: 4%;
  padding-left: 4%;
}

.box-img {
  border: 2px black solid;
  height: 410px;
  width: 320px;
}

@media (max-width: 420px) {
  .box button {
    width: 100%;
    font-size: small;
  }
  .box h4 {
    font-size: small;
    font-style: italic;
    font-weight: bold;
  }
  .box-img {
    height: 100px;
    width: 80px;
  }
}
@media (max-width: 650px) and (min-width: 420px) {
  .container-article {
    padding-left: 2%;
    padding-right: 2%;
  }
  .catalog {
    width: 100%;
  }
  .box button {
    width: 80%;
  }
  .box h4 {
    font-size: small;
    font-style: italic;
    font-weight: bold;
  }
  .box-img {
    height: 150px;
    width: 110px;
  }
}
@media (max-width: 1200px) and (min-width: 650px) {
  .box button {
    width: 60%;
  }
  .box h4 {
    font-size: small;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2%;
    margin-bottom: 2%;
    padding-top: 5%;
  }
  .box h5 {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2%;
  }
  .box-img {
    height: 250px;
    width: 170px;
  }
}
.login-page {
  padding-left: 1%;
}

.login {
  font-size: 20px;
}
.login input {
  border: 1px solid black;
  background-color: gainsboro;
}
.login div {
  padding-right: 30%;
}
.login button {
  background-color: wheat;
}

.error {
  color: red;
}

.error--text_area {
  border-color: red !important;
}

.initial-page {
  padding-left: 1%;
}
.initial-page h1 {
  text-align: left;
}

.generos {
  width: 1230px;
}

.welcomepage-container {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 1%;
}

.container-article__genres {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  background-color: gainsboro;
}

.box__genres button {
  width: 45vw;
  background-color: wheat;
}
.box__genres button img {
  height: 60vw;
  border: 2px black solid;
  margin-bottom: 5%;
}
.box__genres h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

/*# sourceMappingURL=style.css.map */
