@import"./functions.scss";
$primary-color: wheat;
$secondary-color: gainsboro;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: $secondary-color;
    @extend .small-border;
    h1{
        color: black;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }
}

body{
    font-size: large !important; 
    font-style: italic  !important;
    font-family: "Playwrite DE Grund", cursive !important;
    font-optical-sizing: auto;
    font-weight:300 !important;
    background-color: $primary-color !important ;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10em;

    main{
        background-color: $primary-color;
    }

    a{
        text-decoration: none !important;
    }

    nav{
        select{
            font-size: medium;
        font-style: italic;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
        width: 400PX;
        height: 40PX;
        }

        div{
            margin-top: 30px;
        }
    }

    footer{
        background-color: rgb(248, 219, 166);
        margin-top: 5%;
        @extend .medium-border;
        position: absolute;
        bottom: 0;
        width: 100%;

        div{
            
            img{
                height: 5vh;
                width: 5vh;
            }
        }
    }

    button{
        margin-top: 10px;
        font-size: large;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight:300;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: $secondary-color;
    }
}


