@import"./functions.scss";
$primary-color: wheat;
$secondary-color: gainsboro;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    font-size: large;
    font-style: italic;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: $primary-color ;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10em;

    main {
        background-color: $primary-color;
    }

    a {
        text-decoration: none;
    }


    footer {
        background-color: $primary-color;
        margin-top: 5%;
        @extend .medium-border;
        position: absolute;
        bottom: 0;
        width: 100%;

        div {

            img {
                width: 6vw;
                margin: 1%;
            }
        }
    }

    button {
        margin-top: 10px;
        font-size: large;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight: 300;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: $secondary-color;
    }
}