$primary-color: wheat;
$secondary-color: gainsboro;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: $secondary-color;
    border: 1px solid black;
    h1{
        color: black;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }
}

body{
    font-size: large !important; 
    font-style: italic  !important;
    font-family: "Playwrite DE Grund", cursive !important;
    font-optical-sizing: auto;
    font-weight:300 !important;
    background-color: $primary-color !important ;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10em;

    main{
        background-color: $primary-color;
    }

    a{
        text-decoration: none !important;
    }

    nav{
        select{
            font-size: medium;
        font-style: italic;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
        width: 400PX;
        height: 40PX;
        }

        div{
            margin-top: 30px;
        }
    }

    footer{
        background-color: rgb(248, 219, 166);
        margin-top: 5%;
        border: 2px solid black;
        position: absolute;
        bottom: 0;
        width: 100%;

        div{
            
            img{
                height: 5vh;
                width: 5vh;
            }
        }
    }

    button{
        margin-top: 10px;
        font-size: large;
        font-family: "Playwrite DE Grund", cursive;
        font-optical-sizing: auto;
        font-weight:300;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: $secondary-color;
    }
}



#dropdown{
    width: 50vw;
}

#dropdown__smaller{
    width: 25vw;
}

#simple-border{
    border: 1px solid black;
    margin-bottom: 2vh;
}

#Remember-my-Selection{
    margin-top: 1px;;
    width: 20px;
    height: 20px;
}

.initial-page{
    padding-left: 1%;
    h1{
        text-align: left;
    }
}

.login-page{
    padding-left: 1%;
}

.login{
    font-size: 20px;
    
    input{
        border: 1px solid black;
        background-color: $secondary-color;
    }

    div{
        padding-right: 30%;
    }

    button{
        background-color: $primary-color;
    }
}

.shopping-page{
    padding-top: 1%;
}

.container-article{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $secondary-color;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}

.generos{
    width: 1230px;
}

.search-bar{
    display: flex;
    align-items: baseline;
    justify-content: end;
    margin-right: 2%;

    img{
        width: 30PX;
        height: 30px;
    }

    a{
        margin-left: 1%;
    }
}

.search-bar--area{
    border: 1px solid black !important;
    background-color: $secondary-color !important;
}

.welcomepage-container{
    display: flex;
    flex-direction: column;
}

.item{
    margin-top: 1%;
}

.add-basket-product{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;

    h3{
        font-size: large;
        font-style: italic;
    }

    h5{
        font-size: medium;
        font-style: italic;
    }

    img{
        width: 25vw;
    }
}

.error{
    color: red;
}
.error--text_area{
    border-color: red !important;
}

.box{

    button{
        margin-bottom: 5%;
        height: 500px;
        width: 350px;

        img{
            border: 2px black solid;
            height: 410px;
            width: 320px;
        }
    }
}

.box__genres{
    button{
        width: 45vw;
        background-color: $primary-color;
        img{
            height: 60vw;
            border: 2px black solid;
            margin-bottom: 5%;
        }
    }

    h2{
        margin-top: 1%;
        margin-bottom: 1%;
        
    }
}

.container-article__genres{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: $secondary-color;
}
.subtitle{
    padding-top: 1%;
    padding-left: 2%;
    background-color: $secondary-color;
    text-align: center;
}

@media (max-width :370px){
    .search-bar{
        img{
            width: 20PX;
            height: 20px;
        }
    }

    .search-bar--area{
        padding:1px 0px;
    }
}

@media (max-width:650px){
    .container-article{
        padding-left: 2%;
        padding-right: 2%;
    }

    .catalog{
        width:100%;
    }

    .box{

        button{
            height: 215px;
            width: 120px;

            img{
                height: 150px;
                width: 110px;
            }
        }

        h4{
            font-size: small;
            font-style:italic;
            font-weight: bold;
        }
    }

    .add-basket-product{
        img{
        width: 50vw;
        }
    }
}

@media (max-width:1200px){
    .box{
        button{
            height: 335px;
            width: 200px;

            img{
                height: 250px;
                width: 170px;
            }
        }

        h4{
            font-size: medium;
            font-style:italic;
            font-weight: bold;
            padding-bottom: 2%;
            margin-bottom: 2%;
        }

        h5{
            font-size: medium;
            font-style:italic;
            font-weight: bold;
            padding-bottom: 2%;
        }
        
    }

    .add-basket-product{
        img{
            width: 40vw;
        }
    }
}
