@import"../functions.scss";

#dropdown{
    width: 50vw;
}

#dropdown__smaller{
    width: 25vw;
}

#simple-border{
    @extend .small-border;
    margin-bottom: 2vh;
}

#Remember-my-Selection{
    margin-top: 1px;;
    width: 20px;
    height: 20px;
}





