@import"../functions.scss";

.search-bar{
    @include flex-box-creator(row,end,baseline,$secondary-color);
    margin-right: 2%;

    img{
        width: 30PX;
        height: 30px;
    }

    a{
        margin-left: 1%;
    }
}

.search-bar--area{
    border: 1px solid black;
    background-color: $primary-color;
}

@media (max-width :370px){
    .search-bar{
        img{
            width: 20PX;
            height: 20px;
        }
    }

    .search-bar--area{
        padding:1px 0px;
    }
}
