.search-bar{
    display: flex;
    align-items: baseline;
    justify-content: end;
    margin-right: 2%;

    img{
        width: 30PX;
        height: 30px;
    }

    a{
        margin-left: 1%;
    }
}

.search-bar--area{
    border: 1px solid black !important;
    background-color: $secondary-color !important;
}

@media (max-width :370px){
    .search-bar{
        img{
            width: 20PX;
            height: 20px;
        }
    }

    .search-bar--area{
        padding:1px 0px;
    }
}
