
.add-basket-product{
    @include flex-box-creator(column,center,start,$primary-color);
    width: 50vw;
    padding: 1%;
    margin: 2%;
    @extend .medium-border;
    
    
    h3{
        font-size:x-large;
        font-style: italic;
        margin-bottom: 1vh;
    }

    h5{
        font-size: large;
        font-style: italic;
        margin-bottom: 1vh;

    }

    img{
        width: 25vw;
        margin-bottom: 1vh;
        @extend .medium-border;
    }
    button{
        margin-top: 2vh;
    }
}

.buying-window{
    @include flex-box-creator(row,start,center,$secondary-color);
    padding: 1%;
    
    .categories-menu{
        @extend .medium-border;
        background-color: $primary-color;
        width: 100vw;
        .subtitle{
            background-color: $primary-color;
        }
        .container-article__buying-page{
            @include flex-box-creator(row, space-between, center, $secondary-color);
            padding: 2%;
            margin: 1%;
            margin-top: 5%;
        
            @extend .medium-border;
            width: 60vw;
            .item-img{
                width: 20vw;
            }
            .item-button{
                width: 60%;
            }
        }
    }
}





@media (max-width:650px) {
    
    .add-basket-product{
        width: 90vw;
        @include flex-box-creator(column,center,center,$primary-color);

        img{
        width: 50vw;
        }
    }
    .buying-window{
        @include flex-box-creator(column,start,start,$secondary-color);
        padding-left: 3vw;
        
        .categories-menu{
            @extend .medium-border;
            background-color: $primary-color;
            width: 93vw;
            .subtitle{
                background-color: $primary-color;
            }
            .container-article__buying-page{
                @include flex-box-creator(column, space-between, center, $secondary-color);
                width: 90vw;
                .item-img{
                    width: 50vw;
                }
            }
        }
    }
    
}

