@import"../functions.scss";

.add-basket-product{
    @include flex-box-creator(column,center,start,$secondary-color);
    width: 50vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    h3{
        font-size: large;
        font-style: italic;
    }

    h5{
        font-size: medium;
        font-style: italic;
    }

    img{
        width: 28vw;
    }
}

@media (max-width:650px) {
    
    .add-basket-product{
        img{
        width: 50vw;
        }
    }
}

