@import"../functions.scss";
.login-page{
    padding-left: 1%;
}


.login{
    font-size: 20px;
    
    input{
        @extend .small-border;
        background-color: $secondary-color;
    }

    div{
        padding-right: 30%;
    }

    button{
        background-color: $primary-color;
    }
}

.error{
    color: red;
}
.login{
    .error--text_area{
        border-color: red ;
    }
}
