@import"../functions.scss";

.initial-page{
    padding-left: 1%;
    h1{
        text-align: left;
    }
}

.dropdown-selector{
    width: 50vw;
}


.generos{
    width: 1230px;
}

.welcomepage-container{
    @include flex-box-creator(column,center,start,$secondary-color);
}

.item{
    margin-top: 1%;
}

.container-article__genres{
    padding-top: 1%;
    @include flex-box-creator(row,space-around,start,$secondary-color);
}

.box__genres{
    button{
        width: 45vw;
        background-color: $primary-color;
        img{
            height: 60vw;
            @extend .medium-border;
            margin-bottom: 5%;
        }
    }

    h2{
        margin-top: 1%;
        margin-bottom: 1%;
        
    }
}